@import "fonts"
@import "libs"
@import "vars"
@import "base"
@import "icons"

html
  // scroll-behavior: smooth
.invite
  font-weight: 600
  span a
    color: #56A8F8
    text-decoration: none
    font-weight: 700

.text-green
  color: $green

section
  padding: 30px 0

.section-title
  font-size: em(45px)
  font-weight: bold
  margin: 0 0 em(15px)
.section-subtitle
  font-size: em(15px)
  margin: 0
.bg-grey
  background-color: #f6f6f6

.btn
  transition: .2s ease
  background-color: $green
  color: #ffffff
  padding: em(12px)
  text-decoration: none
  border-radius: 5px
  padding: em(13px)
  transition: .25s ease-in all
  font-size: em(18px)
  font-weight: 600
  border: none
  cursor: pointer
  &:hover
    background-color: $dark
  &--grey
    background-color: $dark
    &:hover
      background-color: $green
  &--white
    background-color: #ffffff
    color: $green
    &:hover
      color: #ffffff
      background-color: $grey

.bg-wav
  // position: absolute
  position: relative
  top: 0px
  left: 0px
  right: 0px
  height: 70px
  width: 100%
  background: #f6f6f6
  z-index: -1
  &::before
    content: ""
    display: block
    position: absolute
    border-radius: 100% 90%
    width: 51%
    height: 75px
    background-color: #ffffff
    right: 0px
    top: 35px
  &::after
    content: ""
    display: block
    position: absolute
    border-radius: 100% 90%
    width: 51%
    height: 75px
    background-color: #f6f6f6
    left: -8px
    top: 25px

.stay-dealer
  position: fixed
  right: 2vw
  top: 48vh
  z-index: 11
  background-color: #EBEBEB
  border-radius: 5px
  text-decoration: none
  display: flex
  &__text
    padding: em(16px)
    font-size: em(15px)
    margin: 0
    display: inline-block
    color: $dark
  &__img
    display: inline-block
    background-color: $green
    border-radius: 5px
    max-width: 50px

.header
  padding: 12px 0
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
  z-index: 111
  position: relative
  >div
    align-items: center
    grid-template-columns: 1fr max-content max-content
    grid-column-gap: 28px
    align-self: center
  &__nav
    align-items: center
    grid-template-columns: repeat(2, max-content)
  &__logo
    width: 93px
    margin-right: 50px
  &__title
    font-weight: bold
    display: inline-block
    margin: 0
  &__phone
    font-size: em(18px)
    color: $dark
    text-decoration: none
    font-weight: bold
    line-height: 1.2

.burger
  width: 27px
  height: 12px
  display: inline-block
  position: relative
  vertical-align: top
  cursor: pointer
  margin-left: 20px
  &__line
    display: block
    position: absolute
    width: 27px
    height: 2px
    top: 50%
    transform: translateY(-50%)
    transition: .35s all ease
    background: #3B3B3B
    &::after
      position: absolute
      display: block
      content: ''
      bottom: -9px
      right: 0
      width: 18px
      height: 2px
      transition: .35s all ease
      background: #3B3B3B
  &.active
    .burger__line
      transform: rotate(45deg) translate(0%, 0%)
      &::after
        transform: rotate(90deg) translate(-30%, 0%)
        width: 27px

.burger-menu
  position: absolute
  position: relative
  width: 100vw
  min-height: 80vh
  right: 0
  top: 0
  background-color: #ffffff
  z-index: 10
  display: none
  transition: .25s all ease-in
  z-index: 1
  >.container
    grid-template-columns: 1fr max-content
    padding: 100px 0 120px
  &__box
    align-items: center
    height: inherit
  &__bg
    background: url(../img/burger-bg.svg) no-repeat left center
    background-size: cover
    position: absolute
    left: 0
    top: 0
    // width: 50%
    width: 58vw
    height: 100%
  &__list
    margin: 0

  &__item
    list-style: none
    margin-bottom: 25px
    font-size: em(25px)
    line-height: 30px
    font-weight: 500
    transition: .25s ease-in all
    &:hover
      text-decoration: underline
  &__url
    color: #ffffff
    text-decoration: none
    position: relative
  &__img
    width: 500px
    height: 390px

.footer
  padding: 40px 0 60px
  border-radius: 50px 50px 0px 0px
  color: #ffffff
  text-decoration: none
  background: #68727E
  position: relative
  &::before
    position: absolute
    background-color: #f6f6f6
    content: ''
    width: 100%
    height: 50px
    top: 0
    z-index: -1
  >div
    grid-template-columns: max-content 1fr
    grid-column-gap: 125px
  &__logo-box
    color: #ffffff
    display: inline-block
    text-decoration: none
  &__logo-text
    font-size: em(20px)
    font-weight: 700
    margin: 0 0 em(10px)
  &__logo
    filter: invert(1) brightness(4)
    width: 95px

.footer-menu
  grid-template-columns: repeat(3, 1fr)
  grid-column-gap: 80px
  margin-bottom: 56px
  &__title
    font-weight: 600
    margin: 0 0 em(22px)
    position: relative
    padding-bottom: em(22px)
    &::after
      position: absolute
      width: 100%
      height: 2px
      content: ''
      background-color: #b3b8bf
      bottom: 0
      left: 0
  &__text
    a
      text-decoration: none
      color: #ffffff
      display: block
.leaf
  position: absolute

.banner
  padding: 120px 0 50px
  position: relative
  &__leaf
    width: 80px
    height: 80px
    left: 30px
    left: 0
    bottom: -80px
  >div
    position: relative
  &__title
    font-size: em(40px)
    font-weight: bold
    margin: 0 0 em(15px)
    max-width: 745px
  &__list
    list-style: none
    padding-left: 1em
    max-width: 745px
    margin: 0 0 40px
  &__item
    margin: 0 0 em(16px)
    &:before
      display: inline-block
      content: "-"
      width: 1em
      margin-left: -1em
  &__img-box
    position: absolute
    right: 0
    top: 0
    height: 390px
    max-width: 495px
  &__img
    height: 100%
    width: 100%
    object-fit: cover
  &__btn
    display: block
    max-width: max-content

.advantages
  padding: 100px 0
  position: relative
  &__leaf
    top: 0
    right: 0
    width: 170px
    height: 170px
  >div
    grid-template-columns: max-content 1fr
    grid-column-gap: 80px
  &__title
    font-size: em(40px)
    line-height: 1.2
    max-width: 840px
    margin: 0 0 em(18px)
    grid-column: 1/3
  &__img-box
    border-radius: 10px
    overflow: hidden
    max-width: 365px
    height: 300px
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1))
  &__img
    height: 100%
    width: 100%
    object-fit: cover
  &__info

.advantage
  &__title
    font-weight: 700
    font-size: em(18px)
    text-transform: uppercase
    margin: 0 0 em(8px)
  &__text
    font-size: em(15px)
    line-height: 1.2
    margin: 0
  &__btn
    height: max-content
    align-self: center
    max-width: max-content
    padding: em(13px) em(26px)

.advantage-list
  margin: 0
  padding: 0
  list-style: none
  grid-template-columns: 1fr 1fr
  grid-gap: 45px
  &__item
    grid-template-columns: max-content 1fr
    grid-column-gap: 15px
  &__icon
    grid-row: 1/3
    width: 50px

.what-is
  padding: 220px 0 220px
  position: relative
  &::before
    position: absolute
    content: ''
    background: url('../img/circle.svg') no-repeat center center
    background-size: contain
    top: -5px
    left: 0
    width: 100vw
    height: 150px
  &::after
    position: absolute
    content: ''
    background: url('../img/wave-top.svg') no-repeat center center
    background-size: cover
    bottom: 0
    left: 0
    width: 100vw
    height: 190px
  >div
  &__title
    font-size: em(45px)
    margin: 0 0 em(10px)
  &__boxes
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 33px
    margin-bottom: 40px

  &__under-text
    font-size: em(18px)
    font-weight: 600
    margin: 0 0
    padding-left: 20px
    position: relative
    &::before
      position: absolute
      content: ''
      width: 13px
      height: 13px
      background-image: url('../img/green-circle.svg')
      background-repeat: no-repeat
      background-position: center center
      left: 0
      top: 50%
      transform: translateY(-50%)

.what-is-box
  background-color: #fff
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
  border-radius: 10px
  padding: 22px 44px 40px
  &__title
    text-transform: uppercase
    font-weight: bold
    font-size: em(18px)
    margin: 0 0 em(10px)
  &__text
    margin: 0
  &__icon
    font-size: 30px
    margin-bottom: 4px
    height: 32px
.use
  padding: 0 0 70px
  position: relative
  &__leaf
    left: 0
    bottom: 0
    height: 250px
  >div
  &__title
    margin: 0 0 em(7px)
  &__filter
    margin-bottom: 50px
  &__footer
    text-align: center
  &__more-btn
    font-weight: 600
    display: block
    font-size: em(20px)
    line-height: 1.2
    margin: 0 0 em(11px)
    color: $dark
  &__price-btn
    font-size: em(18px)
    padding: em(10px) em(12px)
    display: block
    max-width: max-content
    margin: 0 auto
  &__cartridges
    margin-bottom: 40px
    .cartridge:nth-of-type(n+9)
      display: none

.filter
  &__text
    font-weight: 600
    display: inline-block
    font-size: em(18px)
    margin: 0 em(22px) 0  0
  &__select
    border: none
    font-size: em(15px)
    padding: em(10px)
    font-weight: 500
    &:hover
      background-color: $green
    option
      border-radius: 10px
      background: #ffffff
      color: $dark
      span
        text-decoration: underline

.cartridges
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 40px

.cartridge
  background-color: #F2F2F2
  padding: 15px
  border-radius: 5px
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2))
  &__img-box
    height: 160px
    border-radius: 10px
    overflow: hidden
    display: block
  &__img
    object-fit: cover
    height: 100%
    width: 100%
  &__btn
    width: 100%
    font-size: em(15px)
    text-align: center
    display: block

.calculation
  padding: 90px 0
  >div
    border-radius: 20px
    background-color: #ffffff
    padding: 40px 60px
    grid-template-columns: 1fr max-content
    grid-gap: 30px
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
  &__title
    margin: 0
    line-height: 1.2
  &__text
    grid-row: 2
  &__img-btn
    grid-column: 2
    grid-row: 1/3
    max-width: 315px
    position: relative
  &__img-box
    height: 190px
    max-width: 240px
  &__img
    height: 100%
    width: 100%
    object-fit: cover
  &__btn
    display: block
    width: 110%
    text-align: center
    position: absolute
    bottom: -10px
    left: -5%

    // padding: em(60px) em(12px)

.brands
  padding: 70px 0 120px
  position: relative
  &__leaf
    right: 0
    bottom: 0
    width: 180px
  >div
  &__title
    margin: 0 0 em(3px)
    line-height: 1.2
  &__subtitle
    margin: 0 0 em(46px)
  &__btn
    display: block
    max-width: max-content
    font-size: em(18px)
    padding: em(12px) em(30px)
  &__choose
    margin-bottom: 60px

.brands-choose
  justify-content: space-between
  &__title
    font-size: 20px
    font-weight: 600
    line-height: 1.2
    margin: 0 0 em(35px)
    grid-column: 1/5

.brand
  &:hover
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  &__img-box
    text-align: center
    height: 94px
    width: 215px
    border-radius: 10px
    display: block
    padding: 20px
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
  &__img
    margin: 0 auto
    width: 100%
    height: 100%
    object-fit: contain
  &__name
    text-align: center
    font-size: em(18px)
    font-weight: 600
    transition: .25s ease-in all

.modern
  position: relative
  padding: 220px 0
  min-height: 520px
  &::before
    position: absolute
    content: ''
    background: url('../img/circle-bot.svg') no-repeat center center
    background-size: cover
    top: 0
    left: 0
    width: 100vw
    height: 120px
  &::after
    position: absolute
    content: ''
    background: url('../img/circle-top.svg') no-repeat center center
    background-size: cover
    bottom: 0
    left: 0
    width: 100%
    height: 120px
  &__title
    margin: 0 0 em(18px)
    max-width: 700px

  &__text-box
    max-width: 700px
  &__text
    margin: 0  0 em(20px)
    font-weight: 600
  &__image
    position: absolute
    right: 0
    top: 30%
    max-width: 34vw

.modern-advantage
  display: inline-block
  margin-right: 80px
  &:last-child
    margin-right: 0
  &__text
    text-transform: uppercase
    font-weight: 700
    color: $green
    font-size: em(18px)
  &__icon
    height: 50px
    width: 50px

.dealer
  padding: 60px 0 100px
  >div
    border-radius: 20px
    background: #F2F2F2
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
    padding: 50px 60px
    grid-template-columns: 1fr max-content
    grid-template-rows: repeat(4, max-content)
    grid-column-gap: 50px
  &__title
    grid-column: 1
    line-height: 1.2
    margin: 0 0 em(10px)
  &__subtitle
    grid-column: 1
    line-height: 1.2
    margin: 0 0 em(36px)
    max-width: 600px
  &__form
    grid-column: 1
    // justify-content: space-between
    width: 100%
    grid-template-columns: 1fr 1fr
    grid-column-gap: 20px
    height: max-content
  &__img-box
    grid-column: 2
    grid-row: 1/4
    height: 327px
    width: 327px
    display: inherit
  &__img
    height: 100%
    width: 100%
    object-fit: cover

.form
  &__btn
    border-radius: 10px

.input
  border-radius: 10px
  background-color: #ffffff
  border: none
  padding: 15px 20px
  font-size: em(18px)
  color: $dark
  outline: none
  &--bg-grey
    background-color: #f6f6f6

.base
  padding: 90px 0 125px
  position: relative
  &__leaf
    width: 200px
    right: 0
    bottom: 0
  >div
  &__icon
    display: inline-block
    margin-right: 12px
    width: 32px
    height: 30px
  &__title
    margin: 0 0 em(10px)
  &__subtitle
    margin: 0 0 em(36px)
    font-weight: 600
    display: inline-block
    span
      font-size: em(20px)
      text-transform: uppercase
  &__boxes
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 25px
    margin-bottom: 37px
  &__under
    color: $green

.base-box
  background-color: #ffffff
  border-radius: 10px
  padding: 20px
  text-align: center
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1))
  &__text
    margin: 0
  &__icon
    height: 40px
    margin-bottom: 5px

.guarantees
  padding: 75px 0
  >div
  &__title
    margin: 0 0 em(4px)
  &__subtitle
    font-weight: 600
    margin: 0 0 em(45px)
  &__text
    color: $green
    font-weight: 700
    font-size: em(18px)
    margin: 0 0 em(25px)

.guarantees-list
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 40px

.guarantee
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1))
  background-color: #fff
  border-radius: 10px
  overflow: hidden
  &__img-box
    background-color: #e1e1e1
    height: 136px
    width: 100%
  &__img
    object-fit: cover
    height: 100%
    width: 100%
  &__text-box
    padding: 5px 15px 30px
  &__num
    margin: 0 0 em(4px)
    color: $green
    font-size: em(20px)
    font-weight: 700
  &__text
    margin: 0

.discount
  padding: 260px 0 70px
  position: relative
  &::before
    position: absolute
    content: ''
    background: url('../img/circle.svg') no-repeat center center
    background-size: contain
    top: -5px
    left: 0
    width: 100vw
    height: 150px
  >div
    border-radius: 20px
    background: #ffffff
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
    padding: 50px 60px
    grid-template-columns: 1fr max-content
    grid-template-rows: repeat(4, max-content)
    grid-column-gap: 50px
  &__title
    grid-column: 1
    line-height: 1.2
    margin: 0 0 em(6px)
  &__subtitle
    grid-column: 1
    line-height: 1.2
    margin: 0 0 em(50px)
    max-width: 680px
    font-weight: 600
  &__form
    grid-column: 1
    // justify-content: space-between
    width: 100%
    grid-template-columns: 1fr 1fr
    grid-column-gap: 20px
    height: max-content
  &__img-box
    grid-column: 2
    grid-row: 1/4
    height: 265px
    width: 327px
    display: inherit
    border-radius: 10px
  &__img
    height: 100%
    width: 100%
    object-fit: contain

.delivery
  padding: 70px 0 140px
  grid-template-columns: 1fr max-content
  grid-column-gap: 10px
  &__title
    margin: 0 0 em(12px)
  &__text-box
    font-weight: 700
    min-height: 220px
  &__text
    span
      text-transform: uppercase
  &__footer
    max-width: 400px
    &-text
      margin: 0 0 em(12px)
  &__btn
    display: block
    text-align: center
  &__map
    grid-column: 2
    grid-row: 1/4
    height: 400px
    width: 700px
    &-img
      height: 100%
      width: 100%
      object-fit: cover

.form-popup
  background-color: $green
  border-radius: 10px
  padding: 22px 16px 16px
  &__title
    color: #ffffff
    margin: 0 0 em(27px)
    max-width: 300px
  &__input
    background-color: #ffffff80
    color: #ffffff
    display: block
    margin-bottom: 15px
    width: 100%
    &::-webkit-input-placeholder
      color: #ffffff
    &::-moz-placeholder
      color: #ffffff
  &__btn
    width: 100%
    text-align: center
    padding: em(13px) em(6px)
    display: block
    margin-bottom: 1em
  &__accept
    font-size: .875em
    margin: 0 0 2em
    text-align: center
    a
      color: #ffffff
.white-popup
  grid-template-columns: max-content 1fr
  grid-gap: 40px
  max-width: 1010px
  padding: 50px 30px 50px 70px
  border-radius: 30px
  background-color: #fff
  margin: auto
  position: relative
  .mfp-close
    font-family: serif
    font-size: 60px
    color: $green
    position: absolute
    right: 10px
    top: 10px

  &__title
    grid-column: 1/3
    font-size: em(30px)
    font-weight: bold
    margin: 0
  &__form
    width: 380px
    // height: max-content
  &__text-img

  &__img-box

    height: 320px
    width: 330px
    margin: auto
    margin-bottom: 10px
  &__img
    height: 100%
    object-fit: cover
  &__text-image
    margin: 0
    text-align: center

.order-popup
  max-width: 900px
  background: rgba(242, 242, 242, 0.8)
  padding: 60px 50px 50px
  grid-template-columns: 1fr 1fr
  &__text-side
    align-content: space-between
  &__title
    font-size: em(30px)
    font-weight: bold
    margin: 0 0 em(10px)
  &__descr
    margin: 0 0 em(20px)
  &__features
    margin: 0 0 em(36px)
  &__price
    font-size: em(18px)
    margin: 0 0 em(25px)
    color: $green
    font-weight: bold
  &__btn
    display: block
    text-align: center
    height: max-content
    margin-bottom: em(12px)
    &:last-child
      margin: 0

.product-gallery
  &__big
    width: 100%
    min-height: 280px
    background-color: #ffffff
    border-radius: 5px
    overflow: hidden
    margin-bottom: 17px
  &__img-big
    height: 100%
    width: 100%
    object-fit: contain

  &__nav
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 15px
  &__img-nav
    border-radius: 5px
    height: 87px

.buy-popup
  grid-template-columns: 1fr
  grid-gap: 0
  width: 460px
  padding: 26px 40px 40px
  height: max-content
  background: rgba(242, 242, 242, 0.8)
  &__img
    height: 184px
    width: 100%
    object-fit: cover
    border-radius: 5px
    margin-bottom: 20px
  &__text
    margin: 0 0 em(3px)
  &__title
    font-weight: 700
    margin: 0 0 em(20px)
  &__price
    color: $green
    font-weight: bold
    font-size: em(18px)
    margin: 0 0 em(25px)

.brand-popup
  &__img-box
    background: #FFFFFF
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
    border-radius: 10px
    padding: 20px
    height: 160px
  &__img
    object-fit: contain
  &__text-image
    font-weight: 600
    text-align: center
    margin: 0 0 em(48px)
  &__text-footer
    margin: 0 auto 0
    text-align: center
    max-width: 360px

.find-printer
  // padding: 60px 30px
  // max-width: 440px
  grid-template-columns: 1fr
  &__title
    margin-bottom: 1em
.thanks-buy
  max-width: 360px
  background-color: #ffffff
  padding: 80px 30px
  margin: auto
  text-align: center
  &__text
    font-size: em(20px)
    font-weight: 600
    line-height: 24px
    margin: 0 0 2em
@import "media" // Всегда в конце
